<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="labjavacicd"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"${appName}","lab":"java-cicd-lab"}</customFields>
      <includeMdcKeyName>requestId</includeMdcKeyName>
      <includeMdcKeyName>httpMethod</includeMdcKeyName>
      <includeMdcKeyName>httpPath</includeMdcKeyName>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>
